body{
  background-color: white;
  text-align: center;
}

th{
  text-align: center;
  border: 1px solid black;
}

div{
  text-align: center;
}

a{
  background-color: #1a1a1a;
  color: #fff;
	box-shadow:2px 2px #555;
	border-style:none;
	border-radius:3px;
  transition:background-color .2s linear 0s;
  display:block;
  text-align: center;
  border-radius:3px;
}

a:hover{
  background: #acadb1;
	border-bottom-color:#999;
	cursor:pointer;
}

a:active{
	box-shadow:none;
	transform:translateY(1px);
}
