body {
	height: 100vh;
	overflow-x: hidden;
}

main {
	margin: 8px;
}

h1 {
	margin-block: 0.6rem;
	font-size: 1.2rem;
	font-weight: normal;
}

#current-keyword-label {
	font-size: 1.2rem;
	color: var(--secondary-color);
	margin-block-start: var(--space-quadruple);
	margin-inline: var(--space-half);
}

#current-keyword-name {
	margin-block-start: var(--space);
	margin-block-end: var(--space-double);
	padding: var(--space-double);
	border: 2px solid var(--secondary-border-color);
	border-radius: var(--radius-double);
	font-size: 1.6rem;
	font-weight: bold;
	color: var(--text-color);
	text-align: center;
}

.keyword {
	width: 100%;
	margin-block: 12px;
}

.keyword.parent {
	position: relative;
	margin-block-end: 24px;
}

.keyword.parent::before {
	content: "";
	display: block;
	position: absolute;
	width: calc(100% - var(--space) * 2);
	height: calc(100% - 16px);
	margin-inline: var(--space);
	top: 16px;
	border: 2px solid var(--primary-line-color);
	border-radius: var(--radius-double);
	z-index: 0;
}

.keyword-name {
	--len: 15;
	position: relative;
	margin-inline: var(--space-double);
	padding-block: var(--space-half);
	padding-inline: var(--space);
	text-align: center;
	font-size: min(1.4rem, calc((100vw - 32px) / var(--len)));
	border: 1px solid var(--keyword-border-color);
	border-radius: var(--radius);
	color: var(--text-color);
	background: var(--keyword-bg-color);
	box-shadow: var(--secondary-shadow);
	z-index: 1;
}

.keyword-children {
	margin-inline: var(--space-double);
	padding-block-end: 32px;
}

#repository {
	margin-inline: var(--space-double);
}



/* #subjectContainer{
	background-color: white;
	overflow: hidden;
	text-align: center;
	border:1px solid black;
	border-radius: 10px;
}
#buttons{
	border-spacing:10px;
}

body{
	background-color:white;
	color:black;
}

.button {
	background-color: #1a1a1a;
	color: #fff;
	box-shadow:2px 2px #555;
	border-style:none;
	border-radius:3px;
	transition:background-color .2s linear 0s;
	font-size:20px;
}

.button button{
	display:block;
	width:100%;
	height: 100%;
	text-align: center;
	border-radius:3px;
}

.button:hover {
	background: #acadb1;
	border-bottom-color:#999;
	cursor:pointer;
}

.button:active{
	box-shadow:none;
	transform:translateY(1px);
}



#KeywordRepository{
	position: relative;
	padding:40px;
	padding-top:0px;
    border-collapse: separate;
    margin:0 auto;
	margin-top:10px;
    border-spacing:0 20px;
	text-align: center;
	width:100%;
	padding-bottom: 100%;
}

#KeywordRepository tr{
	vertical-align: middle;
	width:100%;
}

/ * bavckgroundとかtdでも指定しておかないと角が白くなっちゃうので * /
#KeywordRepository td{
	text-align: center;
	height:25px;
	position: relative;
	background:linear-gradient(0deg,#c5fffd,#99F1FF,#c5fffd);
	box-shadow: 5px 5px #719bad;
	border-radius: 10px;
}


#KeywordRepository a{
	width:100%;
	height:100%;
		top:0;
		left:0;
    text-align:center;
		text-decoration: none;
		color:black;
		position: absolute;
		padding:0 auto;
		line-height:23px;
		background:linear-gradient(0deg,#c5fffd,#99F1FF,#c5fffd);
		border-radius: 10px;
}

#KeywordRepository tr:hover{
		cursor: pointer;
}

#KeywordRepository .inclusion{
	border:3px solid black;
	border-radius:20px;
	width:100%;
	text-align: center;
	display: inline-block;
	margin-bottom: 30px;
	position:static;
}

#KeywordRepository .inclusion tr{
	position:relative;
	top:-35px;
}

#KeywordRepository .inclusion tr:first-child{
/ *	background: red; * /
	height:40px;
	vertical-align: middle;
}

#KeywordRepository .inclusion a{
	line-height: 28px;

}

#KeywordRepository .inclusion tr:first-child a{
	line-height: 38px;
		color:red;
}

#KeywordRepository .inclusion tr:last-child{
	margin-bottom: -100px;
}

#subjectLabel{
	font-size: 25px;
	text-align: center;
}

#showKeywordMapContentButton{
	font-size:25px;
}

.deco {
	margin: 0 auto;
	margin-top: 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 12px;
	
	
}

#contextmenu{
	display:none;
	position:fixed;
	left:0px;
	top:0px;
	width: 210px;
	height:100px;
	background-color:rgba(245,245,245, 0.8);
	border:0px solid black;
	box-shadow: 5px 4px 5px #2e2c2c55;
}

#contextmenu.show{
	display: block;
}
#contextmenu li{
	list-style: none;
	transition: all 0.5s 0s ease;
	margin: 0px;
	padding: 5px;
	cursor:pointer;
}
#contextmenu li:hover{
	color: white;
	background-color: #87ceeb;
} */